<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GamesQuiz.Properties.Settings.QUIZ_DBConnectionString"
            connectionString="Data Source=DESKTOP-SB2KE7K\SQLEXPRESS;Initial Catalog=QUIZ_DB;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>